<% provide(:title, 'All users') %>
<h1>All users</h1>

<% # 'will_paginate' is used both above and below the users' list so that pagination will appear in both places %>

<%= will_paginate %>

<ul class="users">
  <% # # Here Rails infers that @users is a list of User objects; moreover, when called with a collection of users, Rails automatically iterates through them and renders each one with the _user.html.erb partial (inferring the name of the partial from the name of the class). %>
  <%= render @users %>
</ul>

<%= will_paginate %>